{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="activity-highlights">
    <ul class="carousel">
        <li>
            <h2>2024</h2>
            <div>
            <ul class="carousel-track">
                <li class="carousel-item">
                    <img src="{{ MEDIA_URL }}/background/background.jpg" alt="背景圖片">
                    <a href="#">淨灘活動gogogo</a>
                </li>
                <li class="carousel-item">
                    <img src="{{ MEDIA_URL }}/background/background.jpg" alt="背景圖片">
                    <a href="#">淨灘活動gogogo</a>
                </li>
                <li class="carousel-item">
                    <img src="{{ MEDIA_URL }}/background/background.jpg" alt="背景圖片">
                    <a href="#">淨灘活動gogogo</a>
                </li>
                <li class="carousel-item">
                    <img src="{{ MEDIA_URL }}/background/background.jpg" alt="背景圖片">
                    <a href="#">淨灘活動gogogo</a>
                </li>
                <li class="carousel-item">
                    <img src="{{ MEDIA_URL }}/background/background.jpg" alt="背景圖片">
                    <a href="#">淨灘活動gogogo</a>
                </li>
            </ul>
        </li>
        <li>
            <h2>2024</h2>
            <ul>
                <li>
                    <img src="{{ MEDIA_URL }}/background/background.jpg" alt="背景圖片">
                    <section>淨灘活動gogogo</section>
                </li>
            </ul>
        </li>
    </ul>
</div>

{% endblock %}